Repository German-Rangers-MM/GR_MM_Template_Zug_3_0, pull requests merged in 2024-08, with the labels that each got.

#6 Update issue templates
  .github/ISSUE_TEMPLATE/bugreport.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/main.yml
Labels: enhancement

#7 Cookies issue templating v2
  .github/ISSUE_TEMPLATE/01-bugreport.yml
  .github/ISSUE_TEMPLATE/02-feature_request.yml
  .github/ISSUE_TEMPLATE/bugreport.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement

#12 Rename MCC_sequence_intro - Kopie.sqf to MCC_sequence_intro.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/MCC_sequence_intro.sqf
Labels: fix

#18 modcheck.sqf fixes
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: enhancement, fix

#19 Round 2
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/gruppenLoadouts.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Techniker.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: fix

#20 Update mission.sqm
  co79_GerRng_Zug_3_0.VR/mission.sqm
Labels: fix

#26 Sierra Equipment
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Spotter.sqf
Labels: enhancement
