Repository German-Rangers-MM/GR_MM_Template_Zug_3_0, pull requests merged in 2025-03, with the labels that each got.

#82 MP5 + MP7 für Mike (Aircrew-Weapons)
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_AvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Fahrer.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Sani.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SaniL.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SchM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Techniker.sqf
Labels: Template Edit

#95 CBA Config folder
  cba_configs/readme.md
Labels: documentation, enhancement

#98 ADD - CBA - Medical Configs
  cba_configs/Medical-Uebungsplatz.cfg
  cba_configs/Medical.cfg
Labels: documentation

#112 HC Info + Wuerfel Feature
  co79_GerRng_Zug_3_0.VR/fnc/CfgFunctions.hpp
  co79_GerRng_Zug_3_0.VR/fnc/fn_infoHintHC.sqf
  co79_GerRng_Zug_3_0.VR/fnc/fn_rollDice.sqf
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
Labels: enhancement

#117 Update .gitattributes
  .gitattributes
Labels: enhancement

#127 Update release-drafter.yml
  .github/release-drafter.yml
Labels: Repo-Update

#125 Update README.md
  README.md
Labels: documentation, root

#128 Discord Realease Feature: Create discord_release_notify.yml
  .github/workflows/discord_release_notify.yml
Labels: Repo-Update, feature

#129 Fix: Workflow Names
  .github/workflows/discord_release_notify.yml
  .github/workflows/pathfilter.yml
Labels: Repo-Update

#131 Update pathfilter.yml
  .github/workflows/pathfilter.yml
Labels: Repo-Update

#130 update Limakisten - Sierra
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_5.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/limaSupplyPoints.sqf
Labels: Mission-Update, Limakisten-Update

#132 Update README.md
  README.md
Labels: documentation, root

#133 Update README.md
  README.md
Labels: documentation, root

#134 Update discord_release_notify.yml
  .github/workflows/discord_release_notify.yml
Labels: Repo-Update

#135 Update pathfilter.yml
  .github/workflows/pathfilter.yml
Labels: Repo-Update

#136 Update pathfilter.yml
  .github/workflows/pathfilter.yml
Labels: Repo-Update

#137 CHANGE - Lima Kisten - Chemical Detector (Contact) mit JCAD Chemical Detector (KAT) austauschen
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_cbrn_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_cbrn_typ_2.sqf
Labels: Limakisten-Update

#138 ADD - Packlisten - JDAC Chemical Detector für vorher befugte Packlisten
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Lima.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/MasterPackliste.sqf
Labels: Packlisten-Update
