Repository German-Rangers-MM/GR_MM_Template_Zug_3_0, pull requests merged in 2025-08, with the labels that each got.

#230 Update modcheck.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update

#232 Update modcheck.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_san_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/FueAss.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Grenadier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/GrpFhr_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/KpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Lima.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Lima_Pilot.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sanitaeter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze_DM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze_EHB.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze_LMG.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/TrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugFahr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugSani.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Zug_JTAC.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_AvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Sani.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SaniL.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SaniL_Tech.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SaniP.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sanitaeter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sanitaeter_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Aufkl.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_San.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Spotter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/ZugSani.sqf
  co79_GerRng_Zug_3_0.VR/mission.sqm
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Packlisten-Update, Script-Update, Mission-Update, Loadout-Update, Limakisten-Update

#240 Update mission.sqm - RCOP Typo Fix
  co79_GerRng_Zug_3_0.VR/mission.sqm
Labels: Mission-Update
