Repository German-Rangers-MM/GR_MM_Template_Zug_3_0, pull requests merged in 2025-07, with the labels that each got.

#207 add Lima Bestellungen ctab template
  README.md
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
Labels: documentation, enhancement, root, Mission-Update

#208 remove space
  README.md
Labels: documentation, root

#210 update Sierra Packliset
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Aufkl.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_MG.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_San.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Spotter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_TF.sqf
Labels: Packlisten-Update

#211 Update initPlayerLocal.sqf
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update, Mission-Update

#213 Update Cesrap-DEV
  README.md
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/gruppenLoadouts.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Aufkl.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_MG.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_San.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Spotter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_TF.sqf
  co79_GerRng_Zug_3_0.VR/mission.sqm
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: documentation, root, Packlisten-Update, Script-Update, Mission-Update, Loadout-Update

#214 ADD 'SANSTAT' cTab Template
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
Labels: Mission-Update

#215 Update modcheck.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update

#220 update Packliset
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GrpFhr_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/MasterPackliste.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sanitaeter_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Spezialpionier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Waffen_Assi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Waffen_Spez.sqf
Labels: Packlisten-Update

#221 update Packliste
  co79_GerRng_Zug_3_0.VR/description.ext
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SaniL.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SchM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/TrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/ZugFahr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/waffenkammer.sqf
Labels: Packlisten-Update, Mission-Update

#222 update buffet
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GemeinsamesMaterial.sqf
Labels: Packlisten-Update

#224 Update GemeinsamesMaterial.sqf
  co79_GerRng_Zug_3_0.VR/fnc/fn_replaceTarnfarbe.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/FueAss.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Grenadier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/GrpFhr_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/KpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Lima.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_AvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_Fahrer.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_Sani.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_SaniL.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_SchM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_SvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_Techniker.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sanitaeter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sanitaeter_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze_DM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze_EHB.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze_LMG.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Spezialpionier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Spezialpionier_Moerser.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Spezialpionier_TriLow.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Spezialpionier_TriNorm.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/TrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_M2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_Maaws.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_Metis.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_Mk19.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_Mk48.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_Moerser.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_TOW.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_TitanAA.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_TitanAT.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_M2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_Maaws.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_Metis.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_Mk19.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_Mk48.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_Moerser.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_TOW.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_TitanAA.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_TitanAT.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugFahr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugSani.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GemeinsamesMaterial.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/MasterPackliste.sqf
Labels: Packlisten-Update, Script-Update, Loadout-Update

#226 Update mission.sqm
  co79_GerRng_Zug_3_0.VR/mission.sqm
Labels: Mission-Update

#228 Lima Kisten Update + cleanup
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_limaOldSupplyCreateAce.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_openDialog.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_spawnExtraGear.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_updateCrateSelection.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_updateCrates.sqf
  co79_GerRng_Zug_3_0.VR/IGC/gui/IGC_CF_dialog.hpp
  co79_GerRng_Zug_3_0.VR/gui/fn_createLoadoutDialog.sqf
  co79_GerRng_Zug_3_0.VR/gui/fn_teleport.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/gruppenLoadouts.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_vpfl_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_vpfl_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_vpfl_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_vpfl_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_vpfl_typ_5.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_10.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_11.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/limaSupplyPoint_Itemlist.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Assi_Maaws.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_M2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Waffen_Spez_Mk19.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GemeinsamesMaterial.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GrpFhr_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sanitaeter_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Spezialpionier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Waffen_Assi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Waffen_Spez.sqf
Labels: Packlisten-Update, Script-Update, Loadout-Update, Limakisten-Update
