Repository German-Rangers-MM/GR_MM_Template_Zug_3_0, pull requests merged in 2025-04, with the labels that each got.

#142 Automatisches Update vom Übungsplatz [Create uebungsplatz-updater.yml]
  .github/workflows/uebungsplatz-updater.yml
Labels: Repo-Update, feature

#143 Update uebungsplatz-updater.yml
  .github/workflows/uebungsplatz-updater.yml
Labels: Repo-Update

#139 Mod-Check Update
  co79_GerRng_Zug_3_0.VR/description.ext
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
Labels: Mission-Update

#144 Update modcheck.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update

#145 Update modcheck.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update

#151 147 enhancement cba config linting
  .github/workflows/cba_linter.yml
  tools/python/cba_linter.py
Labels: Repo-Update

#153 Sierra SPS update
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Aufkl.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_MG.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_San.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Spotter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_TF.sqf
Labels: Packlisten-Update

#154 Update modcheck.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update

#155 ViewDistance Parameter
  co79_GerRng_Zug_3_0.VR/description.ext
  co79_GerRng_Zug_3_0.VR/scripts/core/setViewDistance.sqf
Labels: Script-Update, Mission-Update

#156 Update description.ext
  co79_GerRng_Zug_3_0.VR/description.ext
Labels: Mission-Update

#160 Update modcheck.sqf
  co79_GerRng_Zug_3_0.VR/fnc/fn_replaceTarnfarbe.sqf
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update

#162 Supplypoint GUI Iteration 2
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_initCrateEditor.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_monitorInventories.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onAddFromSupply.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onAddItem.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onClearItems.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onInventorySelect.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onRemoveItem.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_updateNearObjects.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_addItemsFromSupply.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_adjustItems.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_clearCreateContent.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_initSupplypoint.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_limaOldSupplyCreateAce.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_limaOldSupplySpawnCrate.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_onCatChanged.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_onSupplyCatChange.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_openDialog.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_spawnCrate.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_spawnExtraGear.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_updateCrateContent.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_updateCrateSelection.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_initCrateLoader.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_loadCargo.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_updateCrates.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_updateLists.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_updateVehicles.sqf
  co79_GerRng_Zug_3_0.VR/IGC/IGC_functions.hpp
  co79_GerRng_Zug_3_0.VR/IGC/IGC_guis.hpp
  co79_GerRng_Zug_3_0.VR/IGC/common/fnc/fn_getConfigPath.sqf
  co79_GerRng_Zug_3_0.VR/IGC/common/fnc/fn_switchDialog.sqf
  co79_GerRng_Zug_3_0.VR/IGC/gui/IGC_CE_dialog.hpp
  co79_GerRng_Zug_3_0.VR/IGC/gui/IGC_CF_dialog.hpp
  co79_GerRng_Zug_3_0.VR/IGC/gui/IGC_CL_dialog.hpp
  co79_GerRng_Zug_3_0.VR/IGC_CF/IGC_CF_functions.hpp
  co79_GerRng_Zug_3_0.VR/description.ext
Labels: enhancement, Mission-Update

#161 Updates to fn_replaceTarnfarbe, mission.sqm, and Loadouts
  co79_GerRng_Zug_3_0.VR/fnc/fn_replaceTarnfarbe.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/GrpFhr_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/KpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Lima.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Lima_Pilot.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_AvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_SvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Mike_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_Aufkl.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_San.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_Spotter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Sierra_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/ZugSani.sqf
  co79_GerRng_Zug_3_0.VR/mission.sqm
Labels: Script-Update, Mission-Update, Loadout-Update

#165 Supplypoint GUI Iteration 3
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_deleteCrate.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_getLoadFactor.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_initCrateEditor.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onAddFromSupply.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onAddItem.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onClearItems.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onInventorySelect.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_onRemoveItem.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CE/fnc/fn_updateNearObjects.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_addItemsFromSupply.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_adjustItems.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_clearCreateContent.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_getLoadFactorPre.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_updateCrateContent.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_composeHint.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_deleteCrate.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_initCrateLoader.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_loadCargo.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_updateCrates.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CL/fnc/fn_updateVehicles.sqf
  co79_GerRng_Zug_3_0.VR/IGC/IGC_functions.hpp
  co79_GerRng_Zug_3_0.VR/IGC/gui/IGC_CE_dialog.hpp
  co79_GerRng_Zug_3_0.VR/IGC/gui/IGC_CF_dialog.hpp
  co79_GerRng_Zug_3_0.VR/IGC/gui/IGC_CL_dialog.hpp
  co79_GerRng_Zug_3_0.VR/description.ext
Labels: enhancement, Script-Update, Mission-Update

#167 166 enhancement sps weaponsequip breach
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Grenadier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/Schuetze_DM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/loadout/TrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GemeinsameWaffen.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Grenadier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/GrpFhr_WaGru.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/KpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Lima.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/MasterPackliste.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Fahrer.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Sani.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SaniL.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SchM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SvD.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_Techniker.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Schuetze_DM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Schuetze_LMG.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Spezialpionier.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/TrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/ZugFahr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/ZugFhr.sqf
Labels: enhancement, Packlisten-Update, Loadout-Update
