Repository German-Rangers-MM/GR_MM_Template_Zug_3_0, pull requests merged in 2025-05, with the labels that each got.

#169 Prep für 5.5.25
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_limaOldSupplyCreateAce.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_updateCrateSelection.sqf
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_cbrn_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_cbrn_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_cbrn_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_eod_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_eod_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_eod_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_eod_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_san_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_san_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_5.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_5.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_6.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_7.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagru_typ_8.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_10.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_11.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_5.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_6.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_7.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_8.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_wagrustat_typ_9.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_10.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_11.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_12.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_5.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_6.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_7.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_8.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_9.sqf
  co79_GerRng_Zug_3_0.VR/mission.sqm
Labels: fix, Mission-Update, Limakisten-Update

#170 Update Sierra Kisten - Mission.sqm
  GerRng_Template_250322.html
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_limaOldSupplyCreateAce.sqf
  co79_GerRng_Zug_3_0.VR/IGC/CF/fnc/fn_updateCrateSelection.sqf
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_1.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_2.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_5.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_6.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_7.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_8.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_9.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Aufkl.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_San.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Spotter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/waffenkammer.sqf
  co79_GerRng_Zug_3_0.VR/mission.sqm
Labels: root, Packlisten-Update, Mission-Update, Limakisten-Update

#172 missing player loadouts fix
  co79_GerRng_Zug_3_0.VR/initPlayerLocal.sqf
Labels: Mission-Update

#176 [ENHANCEMENT] PBO-Packing
  .github/workflows/pack_mission.yml
Labels: enhancement, Repo-Update

#178 PBO-Packing²
  .github/workflows/pack_mission.yml
Labels: Repo-Update

#175 Fixed missing SPS-Ammo
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SaniL.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_SchM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Mike_TF.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Schuetze_DM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/TrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/ZugFahr.sqf
Labels: fix, Packlisten-Update

#180 LAMBS Mods zur Whiteliste hinzugefügt
  co79_GerRng_Zug_3_0.VR/scripts/core/modcheck.sqf
Labels: Script-Update

#181 update Packliste Sierra
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_sierra_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_AufSan.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Aufkl.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Breacher.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_MG.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_NaSi.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_San.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Scharf.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Schuetze.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_Spotter.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_TF.sqf
Labels: Packlisten-Update, Limakisten-Update

#183 Editing Preset Update
  GerRng_Template_Preset_250514 .html
  co79_GerRng_Zug_3_0.VR/mission.sqm
Labels: root, Mission-Update

#191 Update Sierra_GrpFhr.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Sierra_GrpFhr.sqf
Labels: Packlisten-Update

#192 Smol Bugfixes & Updates
  .DS_Store
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_3.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/lima/box_zug_typ_4.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Schuetze_DM.sqf
  co79_GerRng_Zug_3_0.VR/loadouts/bw2024/packliste/Spezialpionier.sqf
Labels: root, Packlisten-Update, Limakisten-Update
